---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Dynamic Guest Post Network",
    description:
      "Expand your reach with AI-generated guest posts on diverse blogs and social platforms. Boost SEO effortlessly.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Tailored Subscription Packages",
    description:"Choose a plan, earn credits. Our packages cater to your needs, providing a flexible and scalable solution.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Credit Rewards for Impact",
    description:
      "Maximize your investment—more subscription, more credits. Watch your SEO flourish with our rewarding system ",
    icon: "bx:bxs-data",
  },
  {
    title:" AI Precision, Human Touch",
    description:
      "Crafted by AI, refined by experts. Our guest posts strike the perfect balance for genuine engagement and SEO success.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Automated Marketing Mastery",
    description:
      "Unlock automated SEO brilliance. AI handles the intricacies, ensuring your brand shines across diverse online platforms.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Strategic Social Media Dominance",
    description:
      "Harness the power of AI for strategic social media posting. Elevate your brand's visibility and engagement effortlessly.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Unlock Peak Performance: Our SEO Tool
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Empower your brand with our AI-driven SEO tool. Effortlessly optimize content, enhance rankings, and dominate search results. Take control of your online success with precision and ease
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
